
<div class="container">
    <link type="text/css" ng-href="{{page.Css}}" rel="stylesheet" />
    <div ng-show="progress.Ready" class="inner-container sample">
        <h2 id="working-sample">Novel Info</h2>
        <div class="form-group">
            <label class="control-label">Select theme:</label>
            <select class="form-control" ng-model="page.Css">
                <option ng-repeat="theme in page.Themes" ng-selected="theme.cssMin == page.Css" value="{{theme.cssMin}}">{{theme.name}}</option>
            </select>
        </div>
        <table class="table table-hover table-bordered" bs-table>
            <thead>
                <tr>
                    <th ng-click="predicate='Index'; reverse=!reverse">Index</th>
                    <th ng-click="predicate='NovelName'; reverse=!reverse">Novel Name</th>
                    <th ng-click="predicate='Author'; reverse=!reverse">Author</th>
                    <th ng-click="predicate='Url'; reverse=!reverse">Url</th>
                    <th ng-click="predicate='NewChapter'; reverse=!reverse">New Chapter</th>
                    <!--<th ng-click="predicate='ChapterUrl'; reverse=!reverse">Chapter Url</th>-->
                    <th ng-click="predicate='NovelType'; reverse=!reverse">Novel Type</th>
                    <th ng-click="predicate='Status'; reverse=!reverse">Status</th>
                    <th class="action-column">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contactList | orderBy:predicate:reverse">
                    <td>{{$index}}</td>
                    <td>{{contact.novelname}}</td>
                    <td>{{contact.author}}</td>
                    <td>{{contact.url |removal }}</td>
                    <td>{{contact.newchp}}</td>
                    <!--<td>{{contact.newurl}}</td>-->
                    <td>{{contact.noveltype }}</td>
                    <td>{{contact.status}}</td>
                    <td>
                    	<button type="button" class="btn btn-info btn-sm" ng-click="Show(contact)">Show</button>
                    	<button type="button" class="btn btn-info btn-sm" ng-click="Edit(contact)">Edit</button>
                    	<button type="button" class="btn btn-info btn-sm" ng-click="Remove(contact)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-hide="progress.Ready" class="inner-container preloader">
        <p>Please wait. Sample is loading...</p>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </div>
        
    <div class="inner-container createdby">
        <p>Created with &#10084; in <a href="https://fsnsaber.cn">fsnsaber.cn</a> by <a href="">Weifei</a></p>
    </div>
</div>
