<!DOCTYPE html>
<html ng-app="BsTableDirective">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="BsTable is an AngularJS directive which allows pagination, sorting and page size selection with data on client side." />
    <meta name="keywords" content="bstable, table directive, table, directive, html, css, js, javascript, bootstrap, bootswatch, frontend, web development, angularjs" />
    <meta name="author" content="Jan Holinka" />
    <title>Admin Controller</title>
    <link type="image/x-icon" href="favicon.ico" rel="shortcut icon" />
    <!--<link type="text/css" href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet" />-->
    <link type="text/css" href="/statics/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="./Content/Site.css" rel="stylesheet" />
</head>
<body ><!--class="templatemo_juice_bg">-->
    <div ><!--style="opacity: 0.5;">-->
        <nav class="navbar navbar-default container" role="navigation">
            <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" href="#/">首页</a>
            </div>
            <div class="collapse navbar-collapse" ><!--uib-collapse="true">isNavCollapsed">-->
            <ul class="nav navbar-nav">
                <li><a href="#/ShowNovelInfo">小说管理</a></li>
                <li><a href="#/ShowUserInfo">用户管理</a></li>
                <li><a href="#/SpiderInfo">爬虫管理</a></li>
                <li><a href="#/SysNoticeInfo">公告管理</a></li>
            </ul>
            </div>
        </nav>
    </div>
 
<!--     <div>
    <a href="#/">EG</a>
    <a href="#/ShowNovelInfo">NOVEL</a>
    <a href="#/ShowUserInfo">USER</a>
    <a href="#/SpiderInfo">SPIDER</a>
</div> -->

    <div   ng-view></div>
    <div class="inner-container createdby" style="text-align: center;">
        <p>Created with &#10084; in <a href="https://fsnsaber.cn">fsnsaber.cn</a> by <a href="">Weifei</a></p>
    </div>

    <script type="text/javascript" src="./Scripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="./Scripts/bs-table.min.js"></script>
    <script type="text/javascript" src="./Scripts/socialite.min.js"></script>

    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>-->
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script type="text/javascript" src="./Scripts/angular.js"></script>-->
    <script type="text/javascript" src="./Scripts/angular-animate.js"></script>
    <script type="text/javascript" src="./Scripts/angular-sanitize.js"></script>
    <script type="text/javascript" src="./Scripts/ui-bootstrap-tpls-2.5.0.js"></script>

    <script type="text/javascript" src="./Scripts/app/App.js"></script>
    <script type="text/javascript" src="./Scripts/app/FeedbackControllers.js"></script>
    <script type="text/javascript" src="./Scripts/app/NovelControllers.js"></script>
    <script type="text/javascript" src="./Scripts/app/UserControllers.js"></script>
    <script type="text/javascript" src="./Scripts/app/SpiderControllers.js"></script>
    <script type="text/javascript" src="./Scripts/app/SysNoticeControllers.js"></script>
    <script type="text/javascript" src="./Scripts/app/Services.js"></script>
<!--     <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-44967878-2"]);
    _gaq.push(["_trackPageview"]);

        (function() {
           var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
           ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
           var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
        })();
</script> -->
</body>
</html>