<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<html>

<head>
    <title><% .Title %/></title>
</head>
<body >
	<div style="margin:0 auto;width: 80%" > 
	<p><a href="/"><% .Title %/> &nbsp;&nbsp;&nbsp;境界的彼方</a></p>
	</div>
	
	<div style="margin:0 auto;width: 80%">
		<% template "content" . %/>		
	</div>
	 
</body>
</html>