<% define "content"%/>

 
 <div >
 <p><% .Chapter.ChapterName %/></p>	
 <p>
 <a href="<% .Chapter.ChpPre %/>">上一章</a>&nbsp;&nbsp;&nbsp;
 <a href="<% .Chapter.ChpNext %/>">下一章</a>
 </p>	
</div>
	<div>
		<% range $i,$v := .ContentArry%/>
		<p><% $v %/></p>
		<% end %/>
	</div> 
<% end %/>