<% define "content"%/>

<p>这个界面有点简单</p>
 
 <div >
 <p>返回Code: &nbsp;&nbsp;&nbsp;<% .Code %/></p>	


	<table  class="table" width="100%" >
	<caption>搜索结果</caption>
 	 <tr align="center">
    <th width="30%">文章名称</th>
    <th width="40%">最新章节</th>
    <th width="15%">作者</th>
	<th width="15%">状态</th>
  </tr>
		<% range $i,$v := .NoteMap %/>
		 	 <tr align="center">
				<th width="30%"><a href="<% $v.NovelUrl %/>&name=<% $v.NovelName %/>"><% $v.NovelName %/></a></th>
				<th width="40%"><% $v.LatestChpName %/></th>
				<th width="15%"><% $v.Author %/></th>
				<th width="15%"><% $v.Status %/></th>
				</tr>	
	 	
		<% end %/>

	</div>
<% end %/>
